<launch>
  <group ns="excavator_1">

    <node pkg="sensor_fusion" name="sensor_fusion" type="sensor_fusion" output="screen">
      <rosparam
       command="load"
       file="$(find sensor_fusion)/config/excavator_sensor_fusion.yaml"
       subst_value="true"
     />

    </node>

  </group>

</launch>
