<?xml version="1.0"?>

<launch>
  <include file="$(find wvu_vo_ros)/launch/vo_pipelineScout.launch"/>


  <include file="$(find rover_deadreckoning)/launch/scout_dead_reckoning.launch"/>


  <include file="$(find sensor_fusion)/launch/scout_kf_gyro_attitude.launch" >
  </include>

  <include file="$(find sensor_fusion)/launch/scout_localization.launch" >
  </include>

  <include file="$(find gazebo_truth_odom)/launch/scout_gazebo_truth_odom.launch" >
  </include>

</launch>
